/* Intro + about + form animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(80px);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.intro__title,
.intro__text {
    animation: fadeInUp 2s ease-out forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

.slide-img {
    animation: pulse 4s infinite ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.about-icon.icon-1 {
    animation: spin 8s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.form-img::after {
    animation: float 4s infinite ease-in-out;
}

@media (min-width: 640px) {
    .slide-img {
        animation: float 4s infinite ease-in-out;
    }

    .about-icon.icon-1 {
        animation: none;
    }

    .form-bg {
        animation: spin 60s linear infinite;
    }
}

/* Space-img animation + js */
.space__img,
.space__bg::after {
    transition: width 0.2s linear, height 0.2s linear;
}

/* Planets animation + js */
.about::before,
.about::after,
.tours::before,
.tours::after,
.why-us::before,
.history::before,
.history::after,
.history__wrapper::before,
.start::before,
.start::after {
    transform: translateY(0);
    transition: transform 2s ease-out;
}

.about.scrolling-down::before {
    transform: translateY(-300px);
}
.about.scrolling-up::before {
    transform: translateY(10px);
}

.about.scrolling-down::after {
    transform: translateY(200px);
}
.about.scrolling-up::after {
    transform: translateY(-200px);
}

.tours.scrolling-down::before,
.tours.scrolling-down::after {
    transform: translateY(200px);
}
.tours.scrolling-up::before,
.tours.scrolling-up::after {
    transform: translateY(-40px);
}

.why-us.scrolling-down::before {
    transform: translateY(-100px);
}
.why-us.scrolling-up::before {
    transform: translateY(100px);
}

.history.scrolling-down::before,
.history.scrolling-down::after {
    transform: translateY(100px);
}
.history.scrolling-up::before,
.history.scrolling-up::after {
    transform: translateY(-100px);
}

.history__wrapper.scrolling-down::before {
    transform: translateY(-150px);
}
.history__wrapper.scrolling-down::before {
    transform: translateY(150px);
}

.start.scrolling-down::before,
.start.scrolling-down::after {
    transform: translateY(-100px);
}
.start.scrolling-up::before,
.start.scrolling-up::after {
    transform: translateY(100px);
}

/* Meteors */
.meteor {
    position: fixed;
    width: 4px;
    height: 4px;
    background: var(--text-primary);
    box-shadow: 0 0 10px var(--text-primary);
    filter: blur(1px);
    border-radius: 50%;
    opacity: 0;
    /* z-index: -1; */
    animation: move 3s linear forwards;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y));
        opacity: 0;
    }
}
