@font-face {
    font-family: "TildaSans";
    font-style: normal;
    font-weight: 250 1000;
    src: url("/template/fonts/TildaSans-VF.woff2") format("woff2-variations"),
        url("/template/fonts/TildaSans-VF.woff") format("woff-variations");
}

:root {
    --bg-primary: #000000;
    --bg-secondary: #111926;
    --bg-info: #16243c;
    --info-decor: #36465f;
    --bg-cards: #3a3a3a;
    --text-primary: #ffffff;
    --text-cards: #8d8d8d;
    --active-color: #ef480e;
    --border-color: rgb(252, 252, 252);
    --dots-border-color: rgb(141, 141, 141);
    --arrow-color: #122b54;
    --attention-bg: #1e1a1a;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "TildaSans", Arial, sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    /* overflow-x: hidden; */
}

.main {
    flex: 1;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container, section-, block- */
/* h1 - intro__title
    h2 - section__title, section-number, section__title-text
    h3 - block__title */
.custom-container {
    max-width: 360px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-number {
    position: relative;
    top: 40px;
    z-index: 1;
}

.section__title-text {
    position: relative;
    z-index: 2;
}

@media (min-width: 640px) {
    .custom-container {
        max-width: 640px;
    }

    .section__title {
        font-size: 40px;
        line-height: 48px;
    }

    .section-number {
        font-size: 280px;
    }

    .section__title {
        font-size: 40px;
        line-height: 48px;
    }

    .section__title-text.text-01 {
        display: block;
        width: 90%;
    }

    .block__title {
        font-size: 39px;
        line-height: 41px;
    }

    .block__title-why-us {
        font-size: 42px;
        line-height: 44px;
    }

    .block__title-reviews {
        font-size: 38px;
        font-weight: 600;
        line-height: 47px;
    }

    .block__title-news,
    .subscribe-title {
        font-size: 40px;
        line-height: 62px;
    }
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1200px;
    }

    .section__title-text.text-01 {
        width: 47%;
    }

    .block__title-reviews {
        font-size: 42px;
        line-height: 52px;
    }
}

/* Header */
.header {
    padding: 20px 0;
    background-color: var(--bg-secondary);
}

.header__logo img {
    width: 144px;
    height: 38px;
    margin-top: -10px;
}

.social-icon {
    width: 25px;
    height: 25px;
}

.whatsapp-icon {
    width: 31px;
    height: 31px;
}

.header__phone,
.header__menu {
    display: none;
}

.header__socials {
    display: flex;
    gap: 10px;
}

@media (min-width: 640px) {
    .header__logo img {
        width: 200px;
        height: 53px;
    }

    .social-icon {
        width: 30px;
        height: 30px;
    }

    .whatsapp-icon {
        width: 38px;
        height: 38px;
    }

    .header__phone {
        display: block;
    }
}

@media (min-width: 1200px) {
    .header {
        position: relative;
        z-index: 1;
    }
    .social-icon {
        width: 35px;
        height: 35px;
    }

    .whatsapp-icon {
        width: 44px;
        height: 44px;
    }

    .header__menu {
        display: block;
    }
}
/* Header END */

/* Wrappers */
.intro__wrapper,
.about__wrapper,
.tours__wrapper,
.sights__wrapper,
.contact-form__wrapper,
.why-us__wrapper,
.history__wrapper,
.start__wrapper,
.reviews__wrapper,
.news__wrapper,
.subscribe__wrapper,
.footer__wrapper {
    flex-direction: column;
    padding: 50px 0;
}

@media (min-width: 640px) {
    .intro__wrapper,
    .about__wrapper {
        gap: 70px;
    }

    .why-us__wrapper,
    .history__wrapper,
    .start__wrapper {
        padding: 70px 0;
    }
}

/* Intro */
.intro__bg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #000),
        url("/template/img/intro-bg.webp");
    background-position: 30% 100%;
}

.intro__wrapper {
    padding-top: 20px;
}

.intro__title,
.intro__text {
    opacity: 0;
    transform: translateY(80px);
}

.slide-img {
    position: relative;
    width: 270px;
    height: 270px;
    background-image: url("/template/img/slide-img.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

@media (min-width: 640px) {
    .slide-img {
        order: 1;
        width: 373px;
        height: 373px;
        margin-top: 20%;
        margin-left: 65%;
    }

    .intro__title {
        order: 2;
        margin-top: -530px;
        font-size: 60px;
        line-height: 63px;
    }

    .intro__text {
        order: 3;
        width: 65%;
        font-size: 20px;
        line-height: 31px;
    }

    .intro__btn {
        order: 4;
    }
}

@media (min-width: 1200px) {
    .intro__bg {
        background-position: 100% 70%;
    }

    .intro__wrapper {
        padding-bottom: 100px;
        gap: 100px;
    }

    .slide-img {
        width: 580px;
        height: 580px;
        margin-top: 5%;
        margin-left: 50%;
    }

    .intro__title {
        margin-top: -600px;
        font-size: 63px;
        line-height: 63px;
    }

    .intro__text {
        width: 50%;
        font-size: 20px;
        line-height: 31px;
    }
}
/* Intro END*/

/* 01-About */
.about {
    position: relative;
    width: 100%;
    height: 100%;
}

.about::before {
    position: absolute;
    content: "";
    top: 18%;
    right: 18%;
    width: 666px;
    height: 660px;
    background-image: url("/template/img/01-bg.webp");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.about__items {
    display: flex;
    flex-direction: column;
}

.about__img {
    position: relative;
    width: 100%;
    height: 225px;
    background-image: url("/template/img/01-rocket.webp");
    z-index: 1;
}

.about__text {
    padding-bottom: 30px;
}

.about__date {
    width: 100%;
    padding: 0 15px 30px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
}

.about-icon {
    width: 66px;
    height: 66px;
    background-position: center;
    background-size: cover;
}

.about-icon.icon-1 {
    background-image: url("/template/img/icon-1.png");
    margin-top: 110px;
}

.about-icon.icon-2 {
    display: none;
}

@media (min-width: 640px) {
    .about__wrapper {
        padding: 150px 0 100px;
    }

    .about::before {
        top: 25%;
        right: 30%;
        width: 762px;
        height: 756px;
    }

    .about__items {
        gap: 50px;
    }

    .about__img {
        width: 320px;
        height: 460px;
        margin-left: auto;
        background-image: url("/template/img/01-rocket-vertical.webp");
    }

    .about__text {
        font-size: 19px;
        line-height: 29px;
    }

    .about__date {
        padding-top: 30px;
        column-gap: 10px;
    }

    .about-icon.icon-1 {
        margin-top: 0;
    }

    .about-icon.icon-2 {
        display: block;
        background-image: url("/template/img/icon-2.png");
    }

    .about-icon.icon-3 {
        display: block;
        background-image: url("/template/img/icon-3.png");
    }
}

@media (min-width: 1200px) {
    .about::before {
        width: 1395px;
        height: 1387px;
    }

    .about::after {
        position: absolute;
        content: "";
        width: 263px;
        height: 261px;
        top: 23%;
        right: 2%;
        background-image: url("/template/img/01-planet-desktop.webp");
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    .about__items {
        flex-direction: row;
        justify-content: end;
        padding-bottom: 100px;
    }

    .about__img {
        margin-left: 0;
        margin-bottom: 50px;
    }

    .about__text {
        width: 40%;
        justify-content: flex-end;
    }

    .about__date {
        padding: 65px 30px;
    }
}
/* 01-About END*/

/* 02-Tours */
.tours {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
    overflow: hidden;
}

.tours::before {
    position: absolute;
    content: "";
    top: 0;
    left: 40%;
    width: 600px;
    height: 600px;
    background-image: url("/template/img/02-bg.webp");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.tours__btns {
    padding-top: 20px;
}

.tours-btn {
    width: 100%;
}

.tours__manned,
.tours__cargo,
.tours__period {
    display: none;
}

.tours__manned.active,
.tours__cargo.active,
.tours__period.active {
    display: block;
}

.tours__text {
    margin-bottom: 40px;
}

.price-btn .tour-price {
    display: none;
}

.price-btn .more-btn-small {
    width: 50%;
    margin-left: auto;
}

.divider-link {
    display: block;
    height: 2.5px;
    border-top: 0.8px dotted var(--text-cards);
    border-bottom: 0.8px dotted var(--text-cards);
}

@media (min-width: 640px) {
    .tours::before {
        left: 70%;
        width: 535px;
        height: 535px;
    }

    .tours::after {
        position: absolute;
        content: "";
        top: 37%;
        left: 60%;
        width: 263px;
        height: 263px;
        background-image: url("/template/img/01-planet-desktop.webp");
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
    .tours__wrapper {
        padding-bottom: 100px;
    }

    .tours__btns {
        padding-top: 40px;
    }

    .tours-btn {
        width: 60%;
        font-size: 18px;
        line-height: 28px;
    }

    .tours__text {
        font-size: 18px;
        line-height: 28px;
    }

    .tour__rokot,
    .tour__dive,
    .tour__baikonur,
    .tour__vip {
        gap: 30px;
        padding-bottom: 20px;
    }

    .info-top {
        flex-direction: row;
        gap: 20px;
    }

    .tour__title-price {
        flex-grow: 1;
        min-width: 0;
    }

    .tour-title,
    .tour-price {
        font-size: 30px;
        line-height: 47px;
    }

    .tour-info {
        width: 70%;
        font-size: 19px;
        line-height: 23px;
        padding-bottom: 20px;
        margin-left: 70px;
    }

    .price-btn .more-btn-small {
        width: 30%;
        font-size: 18px;
        line-height: 23px;
    }
}

@media (min-width: 1200px) {
    .tours::after {
        display: none;
    }

    .btn-manned,
    .btn-cargo,
    .btn-period {
        width: 30%;
    }

    .tours__text {
        margin: 30px 0 70px;
        font-size: 19px;
        line-height: 29px;
    }

    .manned__items,
    .cargo__items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tour__rokot,
    .tour__dive,
    .tour__baikonur,
    .tour__vip {
        justify-content: space-between;
        width: 47%;
    }

    .tour-info {
        display: flex;
        flex-grow: 1;
    }

    .tour__title-price .tour-price {
        display: none;
    }

    .price-btn .tour-price {
        display: block;
        margin-left: 70px;
    }

    .tours__period .more-btn-small {
        width: 20%;
    }
}
/* 02-Tours END*/

/* 03-Sights */
.sights__bg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #000),
        url("/template/img/03-bg.webp");
    background-position: center;
}

.sights__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.sight__img-1,
.sight__img-2,
.sight__img-3,
.sight__img-4 {
    width: 154px;
}

.img-1 {
    height: 150px;
    background-image: url("/template/img/03-kama.webp");
}

.img-2 {
    height: 150px;
    background-image: url("/template/img/03-plane.webp");
}

.img-3 {
    height: 300px;
    background-image: url("/template/img/03-gagarin.webp");
}

.img-4 {
    height: 300px;
    background-image: url("/template/img/03-soyuz.webp");
}

.img-5 {
    width: 320px;
    height: 300px;
    background-image: url("/template/img/03-museum.webp");
}

@media (min-width: 640px) {
    .sights__text {
        width: 80%;
        margin: 0 auto;
        font-size: 19px;
        line-height: 23px;
    }

    .sights__images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 960px;
        font-size: 20px;
        line-height: 31px;
    }

    .sight__img-1,
    .sight__img-2,
    .sight__img-3,
    .sight__img-4,
    .sight__img-5 {
        width: 250px;
    }

    .sight__img-1 {
        order: 1;
    }

    .sight__img-2 {
        order: 4;
    }

    .sight__img-3 {
        order: 2;
    }

    .sight__img-4 {
        order: 5;
    }

    .sight__img-5 {
        order: 3;
    }

    .img-2 {
        height: 300px;
    }

    .img-5 {
        width: 250px;
    }
}

@media (min-width: 1200px) {
    .sights__bg {
        background-position: 50% 0;
    }

    .sights__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sights__description {
        width: 50%;
    }

    .sights__text {
        width: 90%;
        margin: 0;
        padding-top: 30px;
    }

    .sights__images {
        width: 50%;
    }
}
/* 03-Sights END*/

/* Contact-form */
.form-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.form-bg {
    display: block;
    width: 214px;
    height: 212px;
    margin-left: auto;
    z-index: 1;
}

.form-img::after {
    position: absolute;
    content: "";
    width: 266px;
    height: 278px;
    top: 0;
    left: 0;
    background-image: url("/template/img/form-astronaut.webp");
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.contact-form__title-desk {
    display: none;
}

.contact-form__text {
    padding-top: 40px;
}

.go__form {
    width: 100%;
}

.form__tel-name {
    width: 100%;
}

.intl-tel-input,
.name-input,
.tour-type {
    border-bottom: 1px solid var(--text-primary);
}

.intl-tel-input input,
.name-input input {
    all: unset;
    width: 100%;
    border: none;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0;
}

.name-input input:focus::placeholder {
    color: transparent;
}

/* Intl-tel library*/
.iti__search-input {
    padding: 10px;
}

.iti__country-name {
    color: var(--bg-cards);
}

.iti__selected-dial-code {
    color: var(--text-primary);
}

.iti__selected-country-primary {
    padding-left: 0 !important;
}
/* Intl-tel library END*/

.tour-type__subtitle {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    opacity: 0.9;
}

select {
    padding: 10px 0;
    font-size: 16px;
    line-height: 22px;
    background-color: inherit;
    border: none;
    color: var(--text-primary);
}

select:focus,
select:hover {
    outline: none;
}

option {
    padding: 10px 0;
    font-size: 16px;
    color: var(--bg-cards);
}

.go-btn {
    width: 70%;
    margin-top: 20px;
    font-weight: 600;
}

@media (min-width: 640px) {
    .contact-form__title-mob {
        display: none;
    }

    .contact-form__title-desk {
        display: block;
        padding-top: 80px;
    }

    .form-bg {
        width: 365px;
        height: 370px;
        margin-right: 20px;
    }

    .form-img::after {
        width: 461px;
        height: 482px;
        top: 0;
        left: 0;
    }

    .contact-form__item {
        width: 80%;
    }

    .contact-form__text {
        padding-top: 0;
        font-size: 19px;
        line-height: 27px;
    }

    .form__tel-name {
        flex-direction: row;
    }

    .intl-tel-input,
    .name-input {
        width: 50%;
    }

    .comment-input {
        width: 100%;
    }
    .go-btn {
        width: 50%;
        margin-top: 60px;
    }
}

@media (min-width: 1200px) {
    .contact-form__wrapper {
        flex-direction: row;
    }

    .form-img {
        width: 50%;
        margin-top: 40px;
    }

    .contact-form__item {
        width: 50%;
        gap: 40px;
    }

    .contact-form__title-desk {
        padding-top: 0;
        font-size: 37px;
    }

    .tour-type__subtitle {
        font-size: 14px;
        line-height: 22px;
    }
}
/* Contact-form End*/

/* WhyUs */
.why-us {
    position: relative;
    width: 100%;
    height: 100%;
}

.why-us::before {
    position: absolute;
    content: "";
    width: 647px;
    height: 647px;
    top: 35%;
    right: 60%;
    background-image: url("/template/img/why-us-bg.webp");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.why-us__wrapper {
    display: flex;
    align-items: center;
}

.why-us__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    min-height: 160px;
}

.feature__icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sign-1 {
    width: 103px;
    height: 90px;
    background-image: url("/template/img/why-icon-1.png");
}

.sign-2 {
    width: 136px;
    height: 127px;
    background-image: url("/template/img/why-icon-2.webp");
    rotate: -90deg;
}

.sign-3 {
    width: 160px;
    height: 160px;
    background-image: url("/template/img/why-icon-3.webp");
    rotate: -45deg;
}

.sign-4 {
    width: 103px;
    height: 103px;
    background-image: url("/template/img/why-icon-4.png");
}

.sign-5 {
    width: 150px;
    height: 150px;
    background-image: url("/template/img/why-icon-5.webp");
}

.sign-6 {
    width: 123px;
    height: 123px;
    background-image: url("/template/img/why-icon-6.webp");
}

@media (min-width: 640px) {
    .why-us::before {
        width: 880px;
        height: 873px;
        top: 0;
        right: 75%;
    }

    .feature__item {
        height: 300px;
        font-size: 19px;
        line-height: 24px;
    }

    .feature__icon {
        width: 160px;
        height: 160px;
    }
}

@media (min-width: 1200px) {
    .why-us::before {
        width: 1530px;
        height: 1518px;
        top: -200px;
        right: 75%;
    }
    .why-us__wrapper {
        display: flex;
        width: 80%;
        justify-content: flex-start;
        align-items: start;
        margin-left: auto;
    }

    .why-us__features {
        justify-content: flex-start;
        align-items: start;
    }
}
/* WhyUs End*/

/* History*/
.history {
    position: relative;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    height: 100%;
}

.history::before {
    position: absolute;
    content: "";
    width: 298px;
    height: 300px;
    top: 30%;
    left: 6%;
    background-image: url("/template/img/history-bg.webp");
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.history::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: 30%;
    right: 0;
    background-image: url("/template/img/history-01.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.history__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.history__wrapper::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    top: 60%;
    left: 77%;
    background-image: url("/template/img/history-02.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

@media (min-width: 640px) {
    .history {
        max-width: 1200px;
    }

    .history::before,
    .history::after,
    .history__wrapper::before {
        display: none;
    }

    .history__text {
        font-size: 19px;
        line-height: 29px;
    }

    .history__btn {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .history__description {
        width: 50%;
    }

    .history::before {
        display: block;
        width: 448px;
        height: 452px;
        left: 58%;
        z-index: 1;
    }

    .history::after {
        display: block;
        width: 120px;
        height: 120px;
        z-index: 1;
    }

    .history__wrapper::before {
        display: block;
        width: 51px;
        height: 50px;
        top: 65%;
        left: 55%;
        z-index: 1;
    }
}
/* History End*/

/* Space-img block */
.space__bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    padding-bottom: 50px;
    margin: 0 auto;
}

.space__img {
    position: relative;
    width: 543px;
    height: 374px;
    object-fit: cover;
    z-index: 1;
}

.space__bg::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 48px;
    top: 45%;
    left: 75%;
    transform: translateX(-50%);
    background-image: url("/template/img/spice-rocket.webp");
    background-position: center;
    background-size: cover;
    rotate: 50deg;
    z-index: 2;
}

@media (min-width: 640px) {
    .space__img {
        width: 640px;
        height: 441px;
    }

    .space__bg::after {
        width: 33px;
        height: 158px;
        top: 35%;
        left: 50%;
    }
}

@media (min-width: 1200px) {
    .space__bg {
        padding-bottom: 100px;
    }
    .space__img {
        width: 1299px;
        height: 895px;
    }

    .space__bg::after {
        width: var(--after-width, 68px);
        height: var(--after-height, 326px);
        top: 35%;
        left: 60%;
    }
}
/* Space-img block END*/

/* 05-Space start */
.start__text {
    padding: 40px 0;
}

.start__features {
    display: flex;
    flex-direction: column;
}

.features-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
}

.feature__img {
    width: 100%;
    max-height: 363px;
    min-height: 303px;
}

.img-1943 {
    background-image: url("/template/img/05-1943.webp");
}

.img-ready {
    background-image: url("/template/img/05-ready.webp");
}

.img-start {
    background-image: url("/template/img/05-start.webp");
}

@media (min-width: 640px) {
    .start {
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    .start::before {
        position: absolute;
        content: "";
        width: 800px;
        height: 800px;
        top: 10%;
        left: 70%;
        background-image: url("/template/img/05-bg.webp");
        background-position: center;
        background-size: cover;
        z-index: -2;
    }

    .start::after {
        position: absolute;
        content: "";
        width: 233px;
        height: 127px;
        top: 30%;
        right: 0;
        background-image: url("/template/img/05-wings.png");
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    .start__text {
        width: 80%;
        font-size: 19px;
        line-height: 29px;
    }

    .feature-items {
        width: 290px;
    }

    .feature__img {
        max-height: 400px;
        min-height: 349px;
    }

    .feature-title {
        font-size: 25px;
        line-height: 30px;
    }

    .feature-frame {
        font-size: 19px;
        line-height: 27px;
    }

    .features-top {
        flex-direction: row;
        gap: 30px;
    }

    .ready-text {
        order: 1;
    }

    .img-ready {
        order: 2;
    }

    .start-item {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .img-start,
    .start-text {
        width: 290px;
    }
}

@media (min-width: 1200px) {
    .start::before {
        top: 25%;
        left: 0;
        z-index: 1;
    }

    .start::after {
        width: 575px;
        height: 313px;
        top: 25%;
        left: 0;
        z-index: 2;
    }

    .start__text {
        width: 40%;
        margin-left: auto;
        padding: 100px 0 300px;
    }

    .title__start {
        width: 55%;
    }

    .start__features {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
    }

    .feature-items {
        width: 370px;
        z-index: 1;
    }

    .start-item {
        flex-direction: column;
        width: 370px;
    }

    .img-start,
    .start-text {
        width: 370px;
    }
}
/* 05-Space start END*/

/* Reviews */
.review__text {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

.triangle {
    width: 0;
    height: 0;
    border-top: 12px solid var(--bg-secondary);
    border-left: 12px solid var(--bg-secondary);
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-top: -16px;
    margin-left: 30px;
}

.review__author {
    margin-top: -10px;
}

@media (min-width: 640px) {
    .review__text {
        line-height: 24px;
    }

    .author__name {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (min-width: 1200px) {
    .review__card {
        width: 45%;
    }

    .author__name {
        font-size: 16px;
        line-height: 22px;
    }
}
/* Reviews END*/

/* News*/
.news__card {
    position: relative;
    border-radius: 5px;
    background-color: var(--bg-cards);
    z-index: 1;
}

.news__img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.news__img-1 {
    background-image: url("/template/img/news-1.webp");
}

.news__img-2 {
    background-image: url("/template/img/news-2.webp");
}

.news__img-3 {
    background-image: url("/template/img/news-3.webp");
}

.news__img-4 {
    background-image: url("/template/img/news-4.webp");
}

.news__text {
    padding: 20px 12px 30px;
    text-align: center;
}

.news-frame {
    color: var(--text-cards);
}

@media (min-width: 640px) {
    .news__card {
        width: 47%;
    }
}

@media (min-width: 1200px) {
    .news__card {
        width: 23%;
    }

    .news__text {
        padding: 20px 6px 30px;
    }
}
/* News END*/

/* Subscribe */
.subscribe__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscribe__form-group {
    display: flex;
    flex-direction: column;
}

.subscribe__form-input {
    all: unset;
    padding: 16px;
    border-radius: 15px;
    font-size: 19px;
    line-height: 25px;
}

.subscribe__form-input,
.subscribe__form-input:focus,
.subscribe__form-input:focus:not(:invalid),
.subscribe__form-input:valid {
    border: 2px solid var(--text-primary);
}

.subscribe__form-input:focus:invalid {
    border: 2px solid var(--active-color);
}

@media (min-width: 640px) {
    .subscribe__form {
        flex-direction: row;
        align-items: flex-end;
    }

    .subscribe__form-group {
        width: 60%;
    }

    .subscribe-btn {
        width: 30%;
        height: 54px;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .subscribe__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .subscribe-title {
        width: 55%;
    }

    .subscribe__form {
        width: 43%;
    }

    .subscribe__form-group {
        width: 65%;
    }

    .subscribe-btn {
        width: 35%;
    }
}
/* Subscribe END*/

/* Footer */
.footer {
    position: relative;
}

.footer__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 70%, #000),
        url("/template/img/footer-bg.webp");
    background-position: center;
    z-index: -1;
}

.footer__logo img {
    width: 173px;
    height: 46px;
    margin-top: -1rem;
}

.footer__socials img {
    width: 26px;
    height: 26px;
}

@media (min-width: 640px) {
    .footer__logo img {
        width: 240px;
        height: 64px;
    }

    .footer__links {
        /* gap: 52px; */
        /* gap: 30px; */
    }

    .footer__socials img {
        width: 26px;
        height: 26px;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .footer__bg {
        top: -350px;
        height: calc(100% + 350px);
    }

    .footer__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 17px;
    }

    .footer__logo {
        margin-top: -16px;
    }

    .footer__links,
    .footer__contacts a {
        font-size: 17px;
        line-height: 26px;
    }

    .footer__contacts {
        margin-top: 6px;
    }

    .webdev {
        margin-top: -4%;
        margin-left: 26%;
    }
}
/* Footer END */
