/* Fonts */
@font-face {
    font-family: "Inter";
    src: url("/template/fonts/Inter18pt-Light.woff2") format("woff2"),
        url("/template/fonts/Inter18pt-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/template/fonts/Inter18pt-Regular.woff2") format("woff2"),
        url("/template/fonts/Inter18pt-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/template/fonts/Inter18pt-Medium.woff2") format("woff2"),
        url("/template/fonts/Inter18pt-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/template/fonts/Inter18pt-SemiBold.woff2") format("woff2"),
        url("/template/fonts/Inter18pt-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/template/fonts/Inter18pt-Bold.woff2") format("woff2"),
        url("/template/fonts/Inter18pt-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/template/fonts/Inter18pt-ExtraBold.woff") format("woff2"),
        url("/template/fonts/Inter18pt-ExtraBold.woff") format ("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/* Fonts END */

/* Vars */
:root {
    --bg-primary: #000000;
    --bg-secondary: #111926;
    --bg-info: #16243c;
    --info-decor: #36465f;
    --bg-cards: #3a3a3a;
    --text-primary: #ffffff;
    --text-cards: #8d8d8d;
    --active-color: #ef480e;
    --border-color: rgb(252, 252, 252);
}
/* Vars END */

html {
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    /* overflow-x: hidden; */
}

.main {
    flex: 1;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container, section-, block- */
/* h1 - intro__title
    h2 - section__title
    h3 - block__title */

.custom-container {
    max-width: 360px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-number {
    position: relative;
    top: 40px;
    z-index: -1;
}

@media (min-width: 640px) {
    .custom-container {
        max-width: 640px;
    }

    .section__title {
        font-size: 38px;
        line-height: 48px;
    }

    .section-number {
        font-size: 280px;
    }

    .block__title {
        font-size: 38px;
    }
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1200px;
    }
    .block__title {
        font-size: 42px;
    }
}

/* Header */
.header {
    padding: 20px 0;
    background-color: var(--bg-secondary);
}

.header__logo img {
    width: 144px;
    height: 38px;
    margin-top: -10px;
}

.social-icon {
    width: 25px;
    height: 25px;
}

.whatsapp-icon {
    width: 31px;
    height: 31px;
}

.header__phone,
.header__menu {
    display: none;
}

@media (min-width: 640px) {
    .header__logo img {
        width: 200px;
        height: 53px;
    }

    .social-icon {
        width: 30px;
        height: 30px;
    }

    .whatsapp-icon {
        width: 38px;
        height: 38px;
    }

    .header__phone {
        display: block;
    }
}

@media (min-width: 1200px) {
    .social-icon {
        width: 35px;
        height: 35px;
    }

    .whatsapp-icon {
        width: 44px;
        height: 44px;
    }

    .header__menu {
        display: block;
    }
}
/* Header END */

/* Wrappers */
.intro__wrapper,
.about__wrapper,
.sights__wrapper,
.why-us__wrapper,
.history__wrapper,
.start__wrapper,
.reviews__wrapper,
.news__wrapper,
.subscribe__wrapper,
.footer__wrapper {
    flex-direction: column;
    padding: 50px 0;
}

@media (min-width: 640px) {
    .intro__wrapper,
    .about__wrapper {
        gap: 70px;
    }

    .why-us__wrapper,
    .start__wrapper {
        padding: 70px 0;
    }
}

/* Intro */
.intro__bg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #000),
        url("/template/img/intro-bg.webp");
    background-position: 30% 100%;
    /* overflow-x: hidden; */
}

.intro__wrapper {
    padding-top: 20px;
}

.intro__title,
.intro__text {
    opacity: 0;
    transform: translateY(80px);
}

.slide-img {
    width: 270px;
    height: 270px;
    background-image: url("/template/img/slide-img.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 640px) {
    .slide-img {
        order: 1;
        width: 373px;
        height: 373px;
        margin-top: 20%;
        margin-left: 65%;
    }

    .intro__title {
        order: 2;
        margin-top: -460px;
        font-size: 50px;
        line-height: 50px;
    }

    .intro__text {
        order: 3;
        width: 65%;
        font-size: 17px;
    }

    .intro__btn {
        order: 4;
    }
}

@media (min-width: 1200px) {
    .intro__bg {
        background-position: 100% 70%;
    }

    .intro__wrapper {
        padding-bottom: 100px;
        gap: 100px;
    }

    .slide-img {
        width: 580px;
        height: 580px;
        margin-top: 5%;
        margin-left: 50%;
    }

    .intro__title {
        margin-top: -600px;
        font-size: 63px;
        line-height: 63px;
    }

    .intro__text {
        width: 50%;
        font-size: 20px;
        line-height: 31px;
    }
}
/* Intro END*/

/* 01-About */
.about {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

.about::before {
    position: absolute;
    content: "";
    width: 444px;
    height: 440px;
    top: 25%;
    right: 40%;
    background-image: url("/template/img/01-bg.webp");
    background-position: center;
    background-size: cover;
    transform: rotate(-45deg);
    z-index: -1;
}

.about__items {
    display: flex;
    flex-direction: column;
}

.about__img {
    width: 100%;
    height: 225px;
    background-image: url("/template/img/01-rocket.webp");
}

.about__date {
    width: 100%;
    padding: 0 15px 30px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
}

.about-icon {
    width: 66px;
    height: 66px;
    background-position: center;
    background-size: cover;
}

.about-icon.icon-1 {
    background-image: url("/template/img/icon-1.png");
    margin-top: 110px;
}

.about-icon.icon-2 {
    display: none;
}

@media (min-width: 640px) {
    .about__wrapper {
        padding: 150px 0 100px;
    }

    .about::before {
        top: 35%;
        right: 50%;
        width: 508px;
        height: 504px;
    }

    .about__items {
        gap: 50px;
    }

    .about__img {
        width: 320px;
        height: 460px;
        margin-left: auto;
        background-image: url("/template/img/01-rocket-vertical.webp");
    }

    .about__text {
        font-size: 17px;
        line-height: 27px;
    }

    .about__date {
        padding-top: 30px;
        column-gap: 10px;
    }

    .about-icon.icon-1 {
        margin-top: 0;
    }

    .about-icon.icon-2 {
        display: block;
        background-image: url("/template/img/icon-2.png");
    }

    .about-icon.icon-3 {
        display: block;
        background-image: url("/template/img/icon-3.png");
    }
}

@media (min-width: 1200px) {
    .about::before {
        width: 933px;
        height: 925px;
    }

    .about::after {
        position: absolute;
        content: "";
        width: 263px;
        height: 261px;
        top: 23%;
        right: 2%;
        background-image: url("/template/img/01-planet-desktop.webp");
        background-position: center;
        background-size: cover;
    }

    .about__items {
        flex-direction: row;
        justify-content: end;
        padding-bottom: 100px;
    }

    .about__img {
        margin-left: 0;
        margin-bottom: 50px;
    }

    .about__text {
        width: 40%;
        justify-content: flex-end;
    }

    .about__date {
        padding: 65px 30px;
    }
}
/* 01-About END*/

/* 03-Sights */
.sights__bg {
    position: relative;
    background-image: url("/template/img/03-bg.webp");
    background-position: 50% 40%;
    z-index: -10;
}

.sights__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.sight__img-1,
.sight__img-2,
.sight__img-3,
.sight__img-4 {
    width: 154px;
}

.img-1 {
    height: 150px;
    background-image: url("/template/img/03-kama.webp");
}

.img-2 {
    height: 150px;
    background-image: url("/template/img/03-plane.webp");
}

.img-3 {
    height: 300px;
    background-image: url("/template/img/03-gagarin.webp");
}

.img-4 {
    height: 300px;
    background-image: url("/template/img/03-soyuz.webp");
}

.img-5 {
    width: 320px;
    height: 300px;
    background-image: url("/template/img/03-museum.webp");
}

@media (min-width: 640px) {
    .sights__text {
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 22px;
    }

    .sights__images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 960px;
    }

    .sight__img-1,
    .sight__img-2,
    .sight__img-3,
    .sight__img-4,
    .sight__img-5 {
        width: 250px;
    }

    .sight__img-1 {
        order: 1;
    }

    .sight__img-2 {
        order: 4;
    }

    .sight__img-3 {
        order: 2;
    }

    .sight__img-4 {
        order: 5;
    }

    .sight__img-5 {
        order: 3;
    }

    .img-2 {
        height: 300px;
    }

    .img-5 {
        width: 250px;
    }
}

@media (min-width: 1200px) {
    .sights__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sights__description {
        width: 50%;
    }

    .sights__text {
        width: 90%;
        margin: 0;
        padding-top: 30px;
        font-size: 18px;
        line-height: 24px;
    }

    .sights__images {
        width: 50%;
    }
}
/* 03-Sights END*/

/* WhyUs */
.why-us {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

.why-us::before {
    position: absolute;
    content: "";
    width: 647px;
    height: 647px;
    top: 35%;
    right: 60%;
    background-image: url("/template/img/why-us-bg.webp");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.why-us__wrapper {
    display: flex;
    align-items: center;
}

.why-us__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    min-height: 160px;
}

.feature__icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sign-1 {
    width: 103px;
    height: 90px;
    background-image: url("/template/img/why-icon-1.png");
}

.sign-2 {
    width: 136px;
    height: 127px;
    background-image: url("/template/img/why-icon-2.webp");
    rotate: -90deg;
}

.sign-3 {
    width: 160px;
    height: 160px;
    background-image: url("/template/img/why-icon-3.webp");
    rotate: -45deg;
}

.sign-4 {
    width: 103px;
    height: 103px;
    background-image: url("/template/img/why-icon-4.png");
}

.sign-5 {
    width: 150px;
    height: 150px;
    background-image: url("/template/img/why-icon-5.webp");
}

.sign-6 {
    width: 123px;
    height: 123px;
    background-image: url("/template/img/why-icon-6.webp");
}

@media (min-width: 640px) {
    .why-us::before {
        width: 880px;
        height: 873px;
        top: 0;
        right: 75%;
    }

    .feature__item {
        font-size: 18px;
        height: 300px;
    }

    .feature__icon {
        width: 160px;
        height: 160px;
    }

    @media (min-width: 1200px) {
        .why-us::before {
            width: 1530px;
            height: 1518px;
            top: 0;
            right: 75%;
        }
        .why-us__wrapper {
            display: flex;
            width: 80%;
            justify-content: flex-start;
            align-items: start;
            margin-left: auto;
        }

        .why-us__features {
            justify-content: flex-start;
            align-items: start;
        }
    }
}
/* WhyUs End*/

/* History*/
.history {
    position: relative;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    height: 100%;
    /* overflow-x: hidden; */
}

.history::before {
    position: absolute;
    content: "";
    width: 298px;
    height: 300px;
    top: 30%;
    left: 6%;
    background-image: url("/template/img/history-bg.webp");
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.history::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: 30%;
    right: 0;
    background-image: url("/template/img/history-01.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.history__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.history__wrapper::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    top: 60%;
    left: 77%;
    background-image: url("/template/img/history-02.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

@media (min-width: 640px) {
    .history {
        max-width: 1200px;
    }

    .history::before,
    .history::after,
    .history__wrapper::before {
        display: none;
    }

    .history__text {
        font-size: 17px;
        line-height: 28px;
    }

    .history__btn {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .history__description {
        width: 50%;
    }

    .history::before {
        display: block;
        width: 448px;
        height: 452px;
        left: 58%;
    }

    .history::after {
        display: block;
        width: 120px;
        height: 120px;
    }

    .history__wrapper::before {
        display: block;
        width: 51px;
        height: 50px;
        /* top: 60%; */
        left: 55%;
    }
}
/* History End*/

/* Space-img block */
.space__bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    padding-bottom: 50px;
    margin: 0 auto;
}

.space__bg::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 48px;
    top: 45%;
    left: 75%;
    transform: translateX(-50%);
    background-image: url("/template/img/spice-rocket.webp");
    background-position: center;
    background-size: cover;
    rotate: 50deg;
    z-index: 1;
}

.space__img {
    width: 543px;
    height: 374px;
    object-fit: cover;
}

@media (min-width: 640px) {
    .space__img {
        width: 640px;
        height: 441px;
    }

    .space__bg::after {
        width: 33px;
        height: 158px;
        top: 35%;
        left: 50%;
    }
}

@media (min-width: 1200px) {
    .space__img {
        width: 1299px;
        height: 895px;
    }

    .space__bg::after {
        width: 68px;
        height: 326px;
        top: 35%;
        left: 50%;
    }
}
/* Space-img block END*/

/* 05-Space start */
.start__text {
    padding: 40px 0;
}

.start__features {
    display: flex;
    flex-direction: column;
}

.features-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
}

.feature__img {
    width: 100%;
    max-height: 363px;
    min-height: 303px;
}

.img-1943 {
    background-image: url("/template/img/05-1943.webp");
}

.img-ready {
    background-image: url("/template/img/05-ready.webp");
}

.img-start {
    background-image: url("/template/img/05-start.webp");
}

@media (min-width: 640px) {
    .start {
        position: relative;
        width: 100%;
        /* max-width: 1360px; */
        margin: 0 auto;
        overflow-x: hidden;
    }

    .start::before {
        position: absolute;
        content: "";
        width: 800px;
        height: 800px;
        top: 10%;
        left: 70%;
        background-image: url("/template/img/05-bg.webp");
        background-position: center;
        background-size: cover;
        z-index: -2;
    }

    .start::after {
        position: absolute;
        content: "";
        width: 233px;
        height: 127px;
        top: 30%;
        right: 0;
        background-image: url("/template/img/05-wings.png");
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    .start__text {
        width: 80%;
        font-size: 17px;
        line-height: 28px;
    }

    .feature-items {
        width: 290px;
    }

    .feature__img {
        max-height: 400px;
        min-height: 349px;
    }

    .feature-title {
        font-size: 23px;
        line-height: 28px;
    }

    .feature-frame {
        font-size: 17px;
    }

    .features-top {
        flex-direction: row;
        gap: 30px;
    }

    .ready-text {
        order: 1;
    }

    .img-ready {
        order: 2;
    }

    .start-item {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .img-start,
    .start-text {
        width: 290px;
    }
}

@media (min-width: 1200px) {
    .start::before {
        top: 25%;
        left: 0;
    }

    .start::after {
        width: 575px;
        height: 313px;
        top: 25%;
        left: 0;
    }

    .start__text {
        width: 40%;
        margin-left: auto;
        padding-bottom: 300px;
    }

    .title__start {
        width: 55%;
    }

    .start__features {
        flex-direction: row;
        justify-content: space-between;
    }

    .feature-items {
        width: 370px;
    }

    .start-item {
        flex-direction: column;
        width: 370px;
    }

    .img-start,
    .start-text {
        width: 370px;
    }
}
/* 05-Space start END*/

/* Reviews */
.review__text {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

.triangle {
    width: 0;
    height: 0;
    border-top: 12px solid var(--bg-secondary);
    border-left: 12px solid var(--bg-secondary);
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-top: -16px;
    margin-left: 30px;
}

.review__author {
    margin-top: -10px;
}

.author__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.photo-olga {
    background-image: url("/template/img/olga.webp");
}

.photo-ivan {
    background-image: url("/template/img/ivan.webp");
}

.photo-maria {
    background-image: url("/template/img/maria.webp");
}

.photo-dmitry {
    background-image: url("/template/img/dmitry.webp");
}

@media (min-width: 640px) {
    .author__name {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .review__card {
        width: 45%;
    }

    .author__name {
        font-size: 15px;
    }
}
/* Reviews END*/

/* News*/
.news__card {
    position: relative;
    border-radius: 5px;
    background-color: var(--bg-cards);
    z-index: 1;
}

.news__img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.news__img-1 {
    background-image: url("/template/img/news-1.webp");
}

.news__img-2 {
    background-image: url("/template/img/news-2.webp");
}

.news__img-3 {
    background-image: url("/template/img/news-3.webp");
}

.news__img-4 {
    background-image: url("/template/img/news-4.webp");
}

.news__text {
    padding: 20px 6px 30px;
    text-align: center;
}

.news-frame {
    color: var(--text-cards);
}

@media (min-width: 640px) {
    .news__card {
        width: 47%;
    }
}

@media (min-width: 1200px) {
    .news__card {
        width: 23%;
    }
}
/* News END*/

/* Subscribe */

.subscribe__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscribe__form-group {
    display: flex;
    flex-direction: column;
}

.subscribe__form-input {
    all: unset;
    padding: 16px;
    border-radius: 15px;
}

.subscribe__form-input,
.subscribe__form-input:focus,
.subscribe__form-input:focus:not(:invalid),
.subscribe__form-input:valid {
    border: 2px solid var(--text-primary);
}

.subscribe__form-input:focus:invalid {
    border: 2px solid var(--active-color);
}

@media (min-width: 640px) {
    .subscribe__form {
        flex-direction: row;
        align-items: flex-end;
    }
    .subscribe-title {
        font-size: 34px;
        line-height: 60px;
    }

    .subscribe__form-group {
        width: 60%;
    }

    .subscribe-btn {
        width: 30%;
        height: 54px;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .subscribe__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .subscribe-title {
        width: 55%;
    }

    .subscribe__form {
        width: 43%;
    }

    .subscribe__form-group {
        width: 70%;
    }

    .subscribe-btn {
        width: 30%;
    }
}
/* Subscribe END*/

/* Footer */
.footer {
    position: relative;
}

.footer__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 70%, #000),
        url("/template/img/footer-bg.webp");
    background-position: center;
    z-index: -1;
}

.footer__logo img {
    width: 173px;
    height: 46px;
    margin-top: -1rem;
}

.footer__socials img {
    width: 26px;
    height: 26px;
}

@media (min-width: 640px) {
    .footer__logo img {
        width: 240px;
        height: 64px;
    }
    .footer__links {
        gap: 52px;
    }
    .footer__socials img {
        width: 26px;
        height: 26px;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .footer__bg {
        top: -350px;
        height: calc(100% + 350px);
    }

    .footer__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 17px;
    }

    .footer__logo {
        margin-top: -16px;
    }

    .webdev {
        margin-top: -3.5%;
        margin-left: 26%;
    }
}
/* Footer END */
