.header__menu--mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: var(--bg-secondary);
    padding: 42px 25px;
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
}

.header__menu--mobile.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

/* .overlay и .overlay.active в ui.css */

body.menu-open {
    overflow: hidden;
}

.header__menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: var(--text-primary);
}

.header__logo--mobile img {
    width: 200px;
    height: 53px;
}

@media (min-width: 640px) {
    .header__menu--mobile {
        width: 46%;
    }
}
