/* Overlay & Modals */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s ease, opacity 0.4 ease;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    cursor: pointer;
}

.overlay-modal {
    height: 100%;
    /* overflow-y: auto; дает второй скролл */
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal-subscribe {
    background-color: var(--bg-primary);

    @media (min-width: 640px) {
        background-color: rgba(143, 162, 174, 0.7);
    }
}

.modal-more {
    background-color: var(--trip-more-overlay);
}

.modal__card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 40px;
    border-radius: 9px;
    background-color: var(--trips-cards-bg);
    cursor: auto;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;

    @media (min-width: 640px) {
        padding: 40px 45px;
    }
}

.overlay.active .modal__card {
    opacity: 1;
}

.modal__card-subscribe {
    min-width: 330px;

    @media (min-width: 640px) {
        max-width: 460px;
    }

    @media (min-width: 1200px) {
        max-width: 560px;
    }
}

.modal__card-title {
    @media (min-width: 1200px) {
        font-size: 36px;
        line-height: 44px;
    }
}

.modal__card-text {
    text-align: center;

    @media (min-width: 640px) {
        font-size: 17px;
        line-height: 26px;
    }
}

.modal__card-more {
    position: relative;
    flex-direction: column;
    width: calc(100% - 30px);
    margin: -8px 0 10px;
    top: 47%;
    /* transform: translate(-51.75%, -50%); */
    overflow-y: auto;

    @media (min-width: 640px) {
        width: calc(100% - 40px);
        max-width: 640px;
        margin: -4px 0 14px;
    }

    @media (min-width: 1200px) {
        flex-direction: row;
        width: calc(100% - 100px);
        max-width: 1240px;
        height: auto;
        top: 40%;
    }
}

.card-more__slider,
.card-more__description {
    /* flex: 1 1 100%; */
}

@media (min-width: 1200px) {
    .card-more__description {
        flex: 0 0 50%;
    }
}
/* Overlay & Modals END */

button {
    all: unset;
    cursor: pointer;
}

/* Menu-btn & Scroll menu-btn */
.header__menu-btn img {
    width: 37px;
    height: 37px;
}

.scroll__menu-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--bg-info);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.scroll__menu-btn.visible {
    opacity: 1;
    pointer-events: auto;
}

.scroll__menu-btn span {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--text-primary);
}

.scroll__menu-btn span:nth-child(1) {
    top: 17px;
}

.scroll__menu-btn span:nth-child(2) {
    top: 23px;
}

.scroll__menu-btn span:nth-child(3) {
    top: 29px;
}

@media (min-width: 1200px) {
    .header__menu-btn,
    .scroll__menu-btn {
        display: none;
    }
}
/* Menu-btn & Scroll menu-btn END*/

/* Arrow-up btn */
.arrow-up {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--arrow-color);
    background: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

.arrow-up svg path {
    stroke: var(--arrow-color);
    transition: stroke 0.3s;
}

@media (hover: hover) {
    .arrow-up:hover {
        background: var(--arrow-color);
        border-color: var(--text-primary);
    }

    .arrow-up:hover svg path {
        stroke: var(--text-primary);
    }
}
/* Arrow-up btn END */

/* Link-btn with spans */
.more-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(22, 36, 60, 0.5);
}

.more-btn-small {
    padding: 10px 0;
}

.left-top::before,
.left-top::after,
.right-top::before,
.right-top::after,
.right-bottom::before,
.right-bottom::after,
.left-bottom::before,
.left-bottom::after {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--info-decor);
}

.left-top::before {
    width: 2px;
    height: 18px;
    top: 0;
    left: 0;
}

.left-top::after {
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
}

.right-top::before {
    width: 24px;
    height: 2px;
    top: 0;
    right: 0;
}

.right-top::after {
    width: 2px;
    height: 18px;
    top: 0;
    right: 0;
}

.right-bottom::before {
    width: 24px;
    height: 2px;
    bottom: 0;
    right: 0;
}

.right-bottom::after {
    width: 2px;
    height: 18px;
    bottom: 0;
    right: 0;
}

.left-bottom::before {
    width: 24px;
    height: 2px;
    bottom: 0;
    left: 0;
}

.left-bottom::after {
    width: 2px;
    height: 18px;
    bottom: 0;
    left: 0;
}

@media (min-width: 640px) {
    .intro__btn {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .intro__btn {
        width: 30%;
    }
}
/* Link-btn with spans END */

/* Link-btn tours-btn*/
.tours-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    border-radius: 5px;
    background-color: inherit;
    border: 2px solid var(--active-color);
}

.btn-active {
    background-color: var(--active-color);
}
/* Link-btn tours-btn END */

/* Trip-btns */
.trip-btn {
    width: 100%;
    padding: 20px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    box-shadow: -4px -4px 10px 0px rgba(69, 69, 69, 0.5),
        4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background-color, color, border-color,
        box-shadow 0.2s ease-in-out;
}

.trip-btn-more {
    background-color: var(--trip-more);
}

.trip-btn-subscribe {
    border: 1px solid var(--text-primary);
}

.trip-btn-send {
    background-image: radial-gradient(
        circle at center,
        rgba(6, 70, 176, 1) 0%,
        rgba(47, 1, 102, 1) 100%
    );
    box-shadow: 0px 7px 10px -7px rgba(32, 108, 235, 0.5);
}

@media (hover: hover) {
    .trip-btn:hover {
        box-shadow: 0px 2px 3px rgba(0, 11, 48, 0.25);
    }

    .trip-btn-send:hover {
        box-shadow: 0px 2px 3px rgba(0, 11, 48, 0.25);
    }
}
/* Trip-btns END*/

/* Icons */
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.modal-close {
    min-height: 50px;
}

.modal-close-btn {
    position: absolute;
    top: 16px;
    cursor: pointer;
    stroke: none;

    @media (min-width: 640px) {
        top: 22px;
    }
}

.icon-close-cross {
    right: clamp(30px, 10vw, 100px);
    width: 23px;
    height: 23px;
    fill: var(--text-primary);

    @media (min-width: 640px) {
        fill: var(--trips-cards-bg);
    }
}

.modal-more .icon-close-cross {
    visibility: hidden;

    @media (min-width: 640px) {
        visibility: visible;
    }
}

.icon-close-arrow {
    left: 20px;
    width: 26px;
    height: 26px;
    fill: var(--trips-cards-bg);

    @media (min-width: 640px) {
        left: clamp(1px, 10vw, 100px);
    }
}
