button {
    all: unset;
    cursor: pointer;
}

/* Menu-btn & Scroll menu-btn */
.header__menu-btn img {
    width: 37px;
    height: 37px;
}

.scroll__menu-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--bg-info);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.scroll__menu-btn.visible {
    opacity: 1;
    pointer-events: auto;
}

.scroll__menu-btn span {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--text-primary);
}

.scroll__menu-btn span:nth-child(1) {
    top: 17px;
}

.scroll__menu-btn span:nth-child(2) {
    top: 23px;
}

.scroll__menu-btn span:nth-child(3) {
    top: 29px;
}

@media (min-width: 1200px) {
    .header__menu-btn,
    .scroll__menu-btn {
        display: none;
    }
}
/* Menu-btn & Scroll menu-btn END*/

/* Arrow-up btn */
.arrow-up {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--arrow-color);
    background: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

.arrow-up svg path {
    stroke: var(--arrow-color);
    transition: stroke 0.3s;
}

@media (hover: hover) {
    .arrow-up:hover {
        background: var(--arrow-color);
        border-color: var(--text-primary);
    }

    .arrow-up:hover svg path {
        stroke: var(--text-primary);
    }
}
/* Arrow-up btn END */

/* Link-btn with spans */
.more-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(22, 36, 60, 0.5);
}

.more-btn-small {
    padding: 10px 0;
}

.left-top::before,
.left-top::after,
.right-top::before,
.right-top::after,
.right-bottom::before,
.right-bottom::after,
.left-bottom::before,
.left-bottom::after {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--info-decor);
}

.left-top::before {
    width: 2px;
    height: 18px;
    top: 0;
    left: 0;
}

.left-top::after {
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
}

.right-top::before {
    width: 24px;
    height: 2px;
    top: 0;
    right: 0;
}

.right-top::after {
    width: 2px;
    height: 18px;
    top: 0;
    right: 0;
}

.right-bottom::before {
    width: 24px;
    height: 2px;
    bottom: 0;
    right: 0;
}

.right-bottom::after {
    width: 2px;
    height: 18px;
    bottom: 0;
    right: 0;
}

.left-bottom::before {
    width: 24px;
    height: 2px;
    bottom: 0;
    left: 0;
}

.left-bottom::after {
    width: 2px;
    height: 18px;
    bottom: 0;
    left: 0;
}

@media (min-width: 640px) {
    .intro__btn {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .intro__btn {
        width: 30%;
    }
}
/* Link-btn with spans END */

/* Link-btn tours-btn*/
.tours-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    border-radius: 5px;
    background-color: inherit;
    border: 2px solid var(--active-color);
}

.btn-active {
    background-color: var(--active-color);
}
/* Link-btn tours-btn END */

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
