/* Bootstrap */

/* .col-auto {
    align-items: center;
} */

/* Bootstrap END*/

/* Font Weights */
.fw-light {
    font-weight: 300;
}

.fw-regular {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

.fw-semi-bold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-extra-bold {
    font-weight: 800;
}

/* Ограничение container-fluid */
.container-fluid.limited {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Резиновый padding */
.p-fluid {
    padding-left: clamp(16px, 4vw, 40px);
    padding-right: clamp(16px, 4vw, 40px);
}

/* Резиновый gap */
.custom-gap {
    gap: clamp(8px, 2vw, 20px);
}

/* Переопределить размер */
.header__logo img.img-size-200x53 {
    width: 200px;
    height: 53px;
}

/* Breakpoints */
@media (width < 640px) {
    .d-640-block {
        display: none;
    }
}

@media (min-width: 640px) {
    .d-640-block {
        display: block;
    }
}

@media (width < 1200px) {
    .d-1200-block {
        display: none;
    }

    .d-1200-none {
        display: block;
    }
}

@media (min-width: 1200px) {
    .d-1200-block {
        display: block;
    }

    .d-1200-none {
        display: none;
    }
}
