/* Bootstrap */

/* Bootstrap END*/

/* Gaps */
/* .gap-10 {
    gap: 10px;
} */
.gap-12 {
    gap: 12px;
}
.gap-16 {
    gap: 16px;
}
.gap-20 {
    gap: 20px;
}
.col-gap-20 {
    column-gap: 20px;
}
.gap-26 {
    gap: 26px;
}
.gap-30 {
    gap: 30px;
}
.gap-40 {
    gap: 40px;
}
.gap-50 {
    gap: 50px;
}

/* Font Sizes */
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-17 {
    font-size: 17px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.fs-28 {
    font-size: 28px;
}
/* .fs-31 {
    font-size: 31px;
} */
.fs-38 {
    font-size: 38px;
}
.fs-42 {
    font-size: 42px;
}
.fs-180 {
    font-size: 180px;
}
/* .fs-200 {
    font-size: 200px;
} */

/* Font Weights */
.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}
/* .fw-800 {
    font-weight: 800;
} */

/* Line-height */
.lh-15 {
    line-height: 15px;
}
.lh-18 {
    line-height: 18px;
}
.lh-20 {
    line-height: 20px;
}
.lh-23 {
    line-height: 23px;
}
.lh-25 {
    line-height: 25px;
}
.lh-26 {
    line-height: 26px;
}
.lh-28 {
    line-height: 28px;
}
.lh-31 {
    line-height: 31px;
}
.lh-34 {
    line-height: 34px;
}
.lh-60 {
    line-height: 60px;
}
/* .lh-200 {
    line-height: 200px;
} */

/* Text Transform */
.tt-uppercase {
    text-transform: uppercase;
}
.tt-lowercase {
    text-transform: lowercase;
}
.tt-capitalize {
    text-transform: capitalize;
}
.td-underline {
    text-decoration: underline;
}

/* Images */
.bg-cover {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* z-index: -1; */
    overflow-x: hidden;
}

.img {
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-number-gradient {
    background: linear-gradient(
        0turn,
        rgba(0, 0, 0, 0.75) 28%,
        rgba(115, 115, 115, 1) 64%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* @media (min-width: 1200px) {
    .flex-row-1200 {
        flex-direction: row;
    }
} */
